body
{
background-color:chocolate; 
}
#main
{
width:1000px;
margin-left: auto;
margin-right: auto;
}
#logo
{
 float: right;   
text-align: left;
margin-top: 1cm;
}
#footer
{
clear: both;
text-align: center;
margin-top: 12cm;
}
.option
{
float: left;
margin: 10px;
padding-top: 5cm;
min height: 680px;
text-align: center;
}

.option:hover
{
background-image: red;
}
